/* google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ---------------- Basic css ------------------ */
:root {
    scroll-behavior: unset;
    --boxShadow: 0 0 2.5rem 0.1rem rgba(0, 0, 0, 0.15);
    --barlow: "Barlow", sans-serif;

    --imgWhite: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(325deg) brightness(105%) contrast(101%);
    --image-black: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(6932%)
    hue-rotate(346deg) brightness(100%) contrast(99%);
    --imgGreen: brightness(0) saturate(100%) invert(59%) sepia(17%)
    saturate(3169%) hue-rotate(108deg) brightness(89%) contrast(86%);

    --white: #ffffff;
    --Black: #000000;
    --bodyColor: #3b3b3b;
    --titleColor: #000000;
    --green: #12b76a;
    --bodyColor50: rgb(59, 59, 59, 0.5);
    --blue: #4182eb;
    --grey-background: #f6f8fa;
    --red: #ff2f40;

    --borderColor: rgb(0, 0, 0, 0.1);

    --transition: 0.25s;

    --round10: 1rem;
    --round10: 1.2rem;
    --round08: 0.8rem;
    --round100: 10rem;

    --sidebarwidth: 28rem;
    --friendlistwidth: 8rem;
    --headerheight: 6.8rem;
    --sidebarwidthexpanded: 14rem;

    --dark-black-mode-colour: #0f0f0f;
    --dark-mode-colour: #212529;
}

img {
    width: 100%;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    color: inherit;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
    outline: none;
}

button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.hide_scrollbar {
    scrollbar-width: 0;
}
.hide_scrollbar::-webkit-scrollbar {
    scrollbar-width: 0;
    display: none;
}

.monitor_review_page {
    overflow: hidden;
}

/* body */
body {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    line-height: 2.3rem;
    color: var(--bodyColor);
    overflow-x: hidden;
    font-family: var(--barlow);
    background: var(--grey-background);
}

main {
    position: relative;
    width: 100%;
}

.figure img,
.figure {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--titleColor);
    font-family: var(--barlow);
}

/* default_styles */
.xy_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.y_center {
    display: flex;
    align-items: center;
}

.x_center {
    display: flex;
    justify-content: center;
}

.position_center_xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position_center_x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.position_center_y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.right_0 {
    right: 0 !important;
    left: auto !important;
}

.left_0 {
    right: auto !important;
    left: 0 !important;
}

.top_0 {
    top: 0 !important;
    bottom: auto !important;
}

.bottom_0 {
    top: auto !important;
    bottom: 0 !important;
}

/* color collection */
.text_green {
    color: var(--green);
}
.bg_green {
    background: var(--green);
}

.text-blue {
    color: var(--blue);
}
.bg_blue {
    background: var(--blue);
}

.text_bodyColor {
    color: var(--bodyColor);
}
.bg_bodyColor {
    background: var(--bodyColor);
}

.text-dark-grey {
    color: var(--bodyColor50);
}
.bg_bodyColor50 {
    background: var(--bodyColor50);
}

.text_titleColor {
    color: var(--titleColor);
}
.bg_titleColor {
    background: var(--titleColor);
}

.bg_blue10 {
    background: rgb(77, 109, 244, 0.1) !important;
}

.blue_border {
    border: 0.1rem solid var(--blue) !important;
}

.grey-background {
    background: var(--grey-background) !important;
}

/* img colors */
.imgWhite {
    filter: var(--imgWhite);
}
.image-black {
    filter: var(--image-black);
}

/* icon sizes */
.icon24 {
    width: 2.4rem;
}
.icon20 {
    width: 2rem;
}
.icon10 {
    width: 1rem;
}
.icon15 {
    width: 1.5rem;
}
.icon14 {
    width: 1.4rem;
}
.icon12 {
    width: 1.2rem;
}
.icon16 {
    width: 1.6rem;
}
.icon18 {
    width: 1.8rem;
}
.icon28 {
    width: 2.8rem;
}
.icon22 {
    width: 2.2rem;
}
.icon24 {
    width: 2.4rem;
}
.icon27 {
    width: 2.7rem;
}
.icon25 {
    width: 2.5rem;
}
.icon26 {
    width: 2.6rem;
}
.icon30 {
    width: 3rem;
}
.icon32 {
    width: 3.2rem;
}
.icon35 {
    width: 3.5rem;
}
.icon38 {
    width: 3.8rem;
}
.icon45 {
    width: 4.5rem;
}
.icon50 {
    width: 5rem;
}
/* Font Weights */
.f_300 {
    font-weight: 300 !important;
}
.f_400 {
    font-weight: 400 !important;
}
.f_500 {
    font-weight: 500 !important;
}
.f_600 {
    font-weight: 600 !important;
}
.f_700 {
    font-weight: 700 !important;
}
.f_800 {
    font-weight: 800 !important;
}
.f_900 {
    font-weight: 900 !important;
}

/* z-index */
.z1 {
    z-index: 1 !important;
}
.z0 {
    z-index: 0 !important;
}
.z-1 {
    z-index: -1 !important;
}

/* round */
.round0 {
    border-radius: 0;
}
.round10 {
    border-radius: 1rem;
}
.round12 {
    border-radius: 1.2rem;
}
.round20 {
    border-radius: 2rem;
}
.round30 {
    border-radius: 3rem;
}
.round28 {
    border-radius: 2.8rem;
}
.round100 {
    border-radius: 100rem;
}

/* height */
.h_55 {
    height: 5.5rem;
}
.h_54 {
    height: 5.4rem;
}

/* titles */
.title_64 {
    font-size: 6.4rem;
    line-height: 1.4;
}
.title_48 {
    font-size: 4.8rem;
    line-height: 1.4;
}
.title_32 {
    font-size: 3.2rem;
    line-height: 1.4;
}
.title24 {
    font-size: 2.4rem;
    line-height: 4.042rem;
    letter-spacing: 0.02em;
}
.title20 {
    font-size: 2rem;
    line-height: 1.4;
}
.title18 {
    font-size: 1.8rem;
    line-height: 2.16rem;
}
.title16 {
    font-size: 1.6rem;
    line-height: 2.695rem;
    letter-spacing: 0.02em;
}

/* texts */
.text_xxl {
    font-size: 2.4rem;
}
.text_xl {
    font-size: 2rem;
}
.text_lg {
    font-size: 1.8rem;
}
.text_md {
    font-size: 1.6rem;
}
.text-sm {
    font-size: 1.4rem;
    line-height: 2.358rem;
}
.text_15 {
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.text_xsm {
    font-size: 1.2rem;
    line-height: 1.44rem;
}
.text-smallest {
    font-size: 1rem;
}

/* profile image */
.profile-img {
    position: relative;
    display: block;
}

.rounded-image {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 10rem;
    object-fit: cover;
    position: relative;
}

.chat-profile-picture {
    width: 4.5rem;
    height: 4.5rem;
}

.profile-img img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 10rem;
    object-fit: cover;
    position: relative;
}

.profile-img_44 img {
    width: 4.5rem;
    height: 4.5rem;
}

.reactor_img_22 img {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 10rem;
    object-fit: cover;
    position: relative;
}

.profile-img_100 img {
    width: 10rem;
    height: 10rem;
}

.profile-img_48 img {
    width: 4.8rem;
    height: 4.8rem;
}

.image-cluster {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust for spacing */
}

.profile-cluster {
    display: flex;
    position: relative;
}

.profile-img-small {
    width: 3rem; /* Adjust size */
    height: 3rem;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    margin-left: -10px; /* Overlapping effect */
    transition: transform 0.2s ease-in-out;
}

.profile-img-small:first-child {
    margin-left: 0;
}

.profile-img-small:hover {
    transform: scale(1.1);
    z-index: 10;
}

.more-count {
    font-size: 12px;
    background-color: #666;
    color: white;
    padding: 2px 6px;
    border-radius: 12px;
    margin-left: 5px;
}

.active_dot {
    border: 0.15rem solid var(--white);
    border-radius: var(--round100);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: var(--green);
    display: block;
}

/* scrollbar style */
.scrollbar {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0.5rem; /* Set the width of the scrollbar */
    height: 0.5rem; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #eaecf0; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #b7c5dc; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0aec1; /* Optional: Color of the scrollbar thumb on hover */
}

/* border */
.border_t1 {
    border: 0.1rem solid #eaecf0;
}
.border_t1_left {
    border-left: 0.1rem solid #eaecf0;
}
.border_t1_right {
    border-right: 0.1rem solid #eaecf0;
}
.border_t1_bottom {
    border-bottom: 0.1rem solid #eaecf0;
}
.border_t1_top {
    border-top: 0.1rem solid #eaecf0;
}

/* -------------- preloader --------------- */
#preloader {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.loader3 {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    padding: 0;
    text-align: left;
}

.loader3 span {
    position: absolute;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background: var(--blue);
    -webkit-animation: loader3 1.5s linear infinite;
    animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
    animation-delay: -0.9s;
    -webkit-animation-delay: -0.9s;
}

@-webkit-keyframes loader3 {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes loader3 {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

/* -------------- Header --------------- */
.site-header {
    z-index: 999;
    position: fixed;
    width: calc(100% - var(--sidebarwidth));
    height: var(--headerheight);
    background: #fff;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.chat-content {
    height: 100vh;
}

.header-search .input-grey {
    width: 32rem;
}

.input-grey {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
    width: 100%;
    color: var(--bodyColor50);
}

.input-grey::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--bodyColor50);
}

.header-search:before {
    background: #f6f8fa;
    height: 2rem;
    width: 0.1rem;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2.5rem;
}

.site-icon {
    color: #4182EB !important;
}

.site-icon:hover {
    filter: var(--imgGreen);
}

/* ======== side bar ======== */
.sidebar {
    width: var(--sidebarwidth);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;
    background: var(--white);
    padding: 3.2rem 0;
    overflow-y: auto;
    transition: var(--transition);
}

.sidebar-top .profile-img:before {
    content: "";
    width: 100vw;
    height: 50vh;
    position: absolute;
    bottom: 2.3rem;
    background: var(--blue);
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}

.logo img {
    width: 12rem;
}

.logo {
    display: block;
}

.sidebar-top .profile-img {
    margin: 0 0 1.6rem 0;
}

.id-link:hover {
    color: var(--Black);
}

.menu-link-wrap:not(:last-child) {
    border-bottom: 0.1rem solid #eaecf0;
    margin-bottom: 1.3rem;
    padding-bottom: 1.3rem;
}

.sidebar-links {
    padding: 2.4rem;
}

.sidebar-link {
    padding: 0.7rem;
    position: relative;
}

.sidebar-link:before {
    content: "";
    width: 0.4rem;
    height: 0;
    background: #4182eb;
    position: absolute;
    left: -3.2rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: var(--transition);
}

.sidebar-link.active::before,
.sidebar-link:hover::before {
    opacity: 1;
    height: 3.4rem;
}

.sidebar-links h2 {
    padding-left: 1.8rem;
}

.sidebar-link:hover {
    color: var(--blue);
    font-weight: 700;
}

svg,
path {
    transition: 0.1s ease;
}

.sidebar-link.active svg,
.sidebar-link:hover svg {
    fill: var(--blue);
}

.sidebar-link.active svg path.path_white,
.sidebar-link:hover svg path.path_white {
    stroke: var(--white);
}

.sidebar-link.active svg path:not(.path_white),
.sidebar-link:hover svg path:not(.path_white) {
    stroke: var(--blue);
}

.sidebar-link:hover .fill_full path,
.sidebar-link.active .fill_full path {
    stroke: var(--blue);
}

/* ====== friend-list ====== */
.friend-list {
    position: fixed;
    width: var(--friendlistwidth);
    top: var(--headerheight);
    margin-top: 0.2rem;
    right: 0;
    height: 100vh;
    overflow-y: auto;
}

/* ==================== Main Contents ================== */
.main-content {
    padding-left: var(--sidebarwidth);
    padding-right: var(--friendlistwidth);
    padding-top: var(--headerheight);
    width: 100%;
    transition: var(--transition);
}
.main-content-chat {
     padding-right: 0px !important;
}
.main-content > .container-fluid {
    padding: 2.3rem;
}
.section-wrapper {
    padding: 1.6rem;
    border-radius: 1.2rem;
    background: var(--white);
    border: 0.1rem solid #eaecf0;
}
.section-top h2 {
    border-bottom: 0.1rem solid #eaecf0;
}

.main-content .row {
    --bs-gutter-x: 2rem;
    gap: 2rem 0;
}

.main-content .row > * {
    padding: 0 1rem;
}

/* ============= Quick post ============= */
.quick-post-top {
    display: grid;
    grid-template-columns: 0fr 1fr;
    align-items: center;
}

.quick-post-text textarea,
.quick-post-text textarea::placeholder {
    font-size: 1.4rem;
}

.quick-post-text textarea {
    padding-right: 8.8rem !important;
}

.post-profile-info p {
    line-height: 1.68rem;
}

.chat-sidebar-profile p {
    line-height: 1.68rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}

.chat-sidebar-title {
    color: #444!important;
}

.post-link {
    gap: 0.2rem;
    cursor: pointer;
}

.post-tag {
    line-height: 1.44rem;
    font-size: 1.2rem;
    color: var(--blue);
    height: 2.4rem;
    display: flex;
    align-items: center;
    background: #e6effc;
    border-radius: 0.8rem;
    padding: 0 0.5rem;
    font-weight: 500;
}

.post-tag:hover {
    background: var(--blue);
    color: #fff;
}

.post-tags-list {
    flex-wrap: wrap;
    margin: 0.7rem 0 1.4rem 0;
}

.post-link:hover {
    color: var(--green);
}

.post-link:hover img {
    filter: var(--imgGreen);
}

.like-button.active svg {
    fill: var(--blue);
}

.like-button.active p {
    color: var(--blue);
}

.post-bottom-top button:hover {
    color: var(--blue);
}

.post-bottom-top button:hover svg {
    stroke: #4182eb;
}

.post-images img:hover {
    filter: brightness(0.85);
}

.post-images img {
    transition: 0.15s ease;
}

.posts {
    display: grid;
    gap: 2rem;
}

.post {
    box-shadow: 0 1rem 3.2rem -0.6rem #0000000d;
    padding: 1.6rem;
    border: 0.1rem solid #eaecf0;
    border-radius: 1.2rem;
}

/* comment */
.comment-right button {
    display: flex;
    align-items: center;
}

.comment-like svg path {
    stroke: #3b3b3b;
}

.comment-like.active svg path {
    fill: var(--red);
    stroke: var(--red);
}

.comment-text > div {
    line-height: 1;
}

.comment-text a:hover {
    color: var(--red);
}

.comment-text button:hover {
    color: var(--red);
}

.comment-box {
    padding: 1.2rem 0;
    border-top: 0.1rem solid #eaecf0;
    border-bottom: 0.1rem solid #eaecf0;
    margin: 1.2rem 0;
    display: grid;
    gap: 1.2rem;
}

.comment-text button {
    transition: 0.2s ease;
}

.comment-text > div p,
.comment-text > div button {
    color: #626262;
}

.comment-text .like-button.liked {
    color: var(--red);
}

.comment-button:not(.collapsed) {
    color: var(--blue);
}

/* ============ Event section =========== */
.section-top {
    position: sticky;
    top: -0.5rem;
    background: var(--white);
    z-index: 9;
}
.event-area .scrollbar {
    height: 59.9rem;
}
.event-right h3 {
    line-height: 1;
    padding-bottom: 0.2rem;
}

.event-right p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.4;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
}

.event-right h4 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    padding-bottom: 0;
    margin-bottom: 0.6rem;
}

.event-right-bottom h6 {
    height: 2.4rem;
    padding: 0 0.8rem;
    border-radius: 0.8rem;
    background: #4182eb21;
    display: flex;
    align-items: center;
}

.event-img {
    position: relative;
}

.event-img:before {
    content: "";
    width: 100%;
    height: 100%;
    border: 0.3rem solid var(--blue);
    border-radius: 0.8rem;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.15s;
}

.event:hover .event-img:before {
    opacity: 1;
}

.event:hover {
    background: #f1f1f1;
}

.event {
    border-radius: 0.5rem;
}

/* ============= updates list ============= */
.updates {
    display: grid;
    grid-template-columns: 0fr 1fr;
    align-items: center;
    gap: 1rem;
}

.updates:hover {
    background: #f1f1f1;
}

.updates {
    border-radius: 0.5rem;
}

.updates-area .scrollbar {
    height: 31.1rem;
}

/* ============ upload styles ============ */
.upload-area {
    border-top: 0.1rem solid #eaecf0;
    margin-top: 3.2rem;
    padding-top: 3.2rem;
    display: grid;
    gap: 2rem;
}

.img-upload-icon {
    background: #f6f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.55rem;
}

.border-radius-small {
    border-radius: 0.8rem;
}

.custom-progress-bar {
    height: 0.6rem;
    background: #eaecf0;
    width: 60rem;
    border-radius: 100em;
}

.custom-progress-bar span {
    height: 100%;
    background: var(--blue);
    max-width: 100%;
    display: block;
    border-radius: 10rem;
    width: 100%;
}

.img-upload-progress p {
    line-height: 1;
    padding-bottom: 0.6rem;
}

.upload-content {
    border-radius: 0.8rem;
    height: 5.6rem;
    border: 0.1rem solid #eaecf0;
    padding: 0 1.2rem;
    transition: 0.2s ease;
    cursor: pointer;
}

.upload-content:hover {
    background: #f3f4f5;
}

.audio img {
    width: 41.855rem;
}

/* uploaded-images */
.uploaded-image img {
    width: 8rem;
}

.uploaded-images {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
}
.upload {
    padding: 0.8rem;
    border: 0.1rem solid #eaecf0;
    border-radius: 0.8rem;
    cursor: pointer;
}

.upload img {
    transition: var(--transition);
}

.upload:hover img {
    filter: brightness(0.75);
}

.uploaded-image {
    position: relative;
}

.uploaded-image button {
    width: 1.6rem;
    background: #f6f8fa;
    height: 1.6rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.5rem;
    right: 0.5rem;
}

.uploaded-image button img {
    width: 1.2rem;
}

.notice-icon {
    width: 3.2rem;
    height: 3.2rem;
    background: #f6f8fa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.2rem;
}

.notice-top {
    border-bottom: 0.25rem solid #4182eb;
}

.notice {
    border: 0.25rem solid #4182eb;
}

/* ============= Contact area ============= */
.logo img {
    width: 12.4rem;
}

.default-top h2 {
    padding: 3.2rem 0 0.8rem;
    line-height: 4.94rem;
    font-size: 3.8rem;
    color: var(--blue);
}

.default-wrap {
    max-width: 42.5rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.default-area {
    min-height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
}

.blue-button {
    height: 4.4rem !important;
    background: var(--blue) !important;
    border-radius: 0.8rem !important;
    color: #fff !important;
    transition: 0.2s ease !important;
    font-weight: 600 !important;
}

.btn-main {
    background: var(--blue) !important;
    color: #fff !important;
}

.btn-main:hover {
    background: #3706f9 !important;
}

.default-form {
    padding: 2.5rem 1.6rem;
    border-radius: 1.6rem;
    width: calc(100% - 1.7rem);
    margin: 0 auto;
    box-shadow: 0 0.4rem 4rem -0.2rem #00000014;
}

.default-top {
    padding-bottom: 3.2rem;
}

.default-top p {
    line-height: 3rem;
}

.blue-button:hover {
    background: #3706f9 !important;
}

.checkbox {
    cursor: pointer;
}

.check {
    width: 1.6rem;
    height: 1.6rem;
    border: 0.1rem solid #3b3b3b80;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
}

.checkbox.active .check {
    background: var(--blue);
    border-color: var(--blue);
}

.password-eye {
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0.5;
}

.password-from-group.input-active .password-eye {
    opacity: 1;
    pointer-events: all;
}

.eye {
    width: 1.6rem;
}

.password-eye:before {
    content: "";
    background: #6a7480;
    height: 0.2rem;
    width: 0;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%) rotate(25deg);
    left: 50%;
    opacity: 0;
    transition: 0.25s ease;
}

.custom-form-group.password-hidden .password-eye:before {
    opacity: 1;
    width: calc(100% + 0.2rem);
}

.custom-form-group input {
    color: #000000;
    font-weight: 500;
}

.checkbox p {
    line-height: 1.4;
    font-weight: 500;
}

.strength-step {
    width: 2.4rem;
    display: block;
    height: 0.35rem;
    background: #eaecf0;
    border-radius: 10rem;
    transition: 0.2s ease;
}

.display-flex-gap {
    display: flex;
    gap: 0.3rem;
}

.strength-step.active {
    background: var(--blue);
}

.text-form-bottom {
    line-height: 1.4;
}

/* ==================== editor area ====================== */
.place-name {
    color: #636363 !important;
}
/* ==================== top-friends-list ====================== */
.top-friends-list h2 {
    white-space: nowrap;
}

.top-friends-list p {
    white-space: nowrap;
}

#top-friends-list-area .scrollbar {
    height: auto;
}
.top-friends-list:hover {
    background: #f1f1f1;
}

.top-friends-list {
    border-radius: 0.6rem;
}

/* ----- */
.section-top {
    position: sticky;
    background: var(--white);
    z-index: 9;
    padding-top: 1.6rem;
    margin-top: -1.6rem;
}

#top-friends-list-area .scrollbar .section-wrapper {
    width: max-content;
}

.scrollbar-wrap .section-wrapper {
    border: 0;
}

.scrollbar-wrap .scrollbar {
    position: relative;
}

.scrollbar-wrap:before {
    content: "";
    width: calc(100% - 4.2rem);
    height: calc(100% - 3.2rem);
    position: absolute;
    border: 0.1rem solid #eaecf0;
    border-radius: 1.2rem;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
    border-radius: 1.2rem;
    z-index: 1;
    pointer-events: none;
}

.scrollbar-wrap {
    position: relative;
}

/* scrolbar x */
.scrollbar-wrap-x {
    padding-top: 1.6rem !important;
}

.scrollbar-wrap-x .section-wrapper {
    border: 0;
    padding: 0;
    position: relative;
}

.scrollbar-wrap-x .scrollbar {
    padding-bottom: 3.2rem;
    padding-left: 1.6rem;
    gap: 1rem;
    padding-right: 1.6rem;
    height: auto;
}

.scrollbar-wrap-x .section-top {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 1.6rem;
    background: transparent;
}

.scrollbar-wrap-x .section-wrapper:before {
    content: "";
    width: calc(100% - 0rem);
    height: calc(100% - 2.8rem);
    position: absolute;
    border: 0.1rem solid #eaecf0;
    border-radius: 1.2rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.2rem;
    z-index: 1;
    pointer-events: none;
}

/* ============ create_album =============== */
.create-album-icon {
    position: relative;
    height: 9.2rem;
    width: 9.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eaecf0;
    border-radius: 0.6rem;
}
.create-album-icon img {
    width: 1.6rem;
}

.album .uploaded-image > img {
    width: 9.2rem;
}

.album-text {
    margin-top: 0.4rem;
}

.album {
    padding: 0.4rem;
}

.album-text p {
    color: #636363;
}

.album:hover .uploaded-image {
    filter: brightness(0.85);
}

.album .uploaded-image {
    transition: 0.2s ease;
}

/* ======== Profile data ========= */
.profile-data-list {
    gap: 3.2rem;
}

.profile-data {
    position: relative;
}

.profile-data:not(:last-child):before {
    content: "";
    width: 0.1rem;
    height: 2rem;
    background: #eaecf0;
    position: absolute;
    right: -1.6rem;
    top: 50%;
    transform: translateY(-50%);
}
.profile-top .active_dot {
    width: 1.6rem;
    height: 1.6rem;
    right: 0.8rem;
    bottom: 0.8rem;
}
.section-top-x {
    border-bottom: 0.1rem solid #eaecf0;
    padding-bottom: 0.8rem;
    margin-bottom: 3.2rem;
}

.section-top-x h2 {
    border: 0;
}

.edit-details {
    border: 0.1rem solid var(--blue);
    color: var(--blue);
    height: 2.9rem;
    padding: 0 1.2rem;
    font-weight: 600;
    border-radius: 0.4rem;
}

.edit-details:hover {
    background: var(--blue);
    color: var(--white);
}

.custom-form-group .input-grey {
    padding: 0;
    height: 4.4rem;
    padding: 1.2rem;
    line-height: 1;
}

ul.list {
    width: 100%;
    background: #f6f8fa !important;
    padding: 0 1.6rem !important;
    margin: 0 !important;
    box-shadow: 0 0.6rem 0.8rem -0.2rem #00000014 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top: 0.1rem solid #eaecf0;
}

.list li {
    background: #f6f8fa !important;
    height: 3.8rem;
    display: flex;
    align-items: center;
    color: #3b3b3b;
    border-bottom: 0.1rem solid #eaecf0;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    font-family: var(--barlow) !important;
}

.list li:hover {
    background: #f6f6f6 !important;
}

.nice-select {
    border: 0;
}

.nice-select .current {
    font-size: 1.5rem;
    color: #000;
    font-weight: 500;
}

.list li:last-child {
    border: 0 !important;
}
.custom-form-group textarea {
    min-height: 7rem !important;
    color: #000;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5 !important;
    border: none !important;
}

.nice-select.open {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.form-group-wrap {
    display: grid;
}
.select-options {
    flex-wrap: wrap;
}
.language-tag {
    height: 2.4rem;
    padding: 0 0.8rem;
    background: #4182eb21;
    border-radius: 0.6rem;
    transition: 0.2s;
}

.language-tag:hover {
    background: #4182eb57;
}

.blue-cross-icon {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 20rem;
}

.blue-cross-icon img {
    width: 0.8rem;
}

.nice-select:after {
    height: 0.7rem;
    right: 2rem;
    width: 0.7rem;
}

/* ==================== default-comment area ================= */
.default-comment-btn img {
    width: 1.2rem;
}

.default-comment-btn {
    margin-left: 1rem;
    gap: 0.4rem;
    text-transform: capitalize;
    position: relative;
}

.default-comment-btn:hover {
    border-color: #eaecf0 !important;
}

.delete-default-post p {
    color: var(--red);
}

.delete-default-post:hover {
    opacity: 0.75;
}

.default-comment-btn:before {
    height: 100%;
    width: 0.1rem;
    background: #eaecf0;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.default-comment-post {
    background: #f6f8fa;
}

.default-post-wrap {
    display: grid;
    gap: 2.4rem;
}

.default-comment:not(.default-comment) {
    background: #fff;
}

.default-comment:not(.default-comment-post) {
    background: #fff;
}

.label_hidden label {
    display: none;
}

.default-comment .profile-img {
    height: fit-content;
}

.reactors img {
    width: 2.4rem;
}

.react {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    height: 3.2rem;
    background: #d9e6fb;
    padding: 0 0.8rem;
    border-radius: 10rem;
}

.reaction-emoji:hover {
    transform: scale(1.1);
}

.reaction-emoji {
    transition: 0.2s ease;
    cursor: pointer;
}

.default-comment {
    position: relative;
    overflow: hidden;
}

.choose {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100rem;
    cursor: pointer;
    transition: 0.2s;
}

.choose.chosen,
.choose:hover {
    background: #4182ea;
}

/* ============= expanded ============= */
.sidebar-unexpanded .sidebar {
    width: var(--sidebarwidthexpanded);
}
.sidebar-unexpanded .main-content {
    padding-left: var(--sidebarwidthexpanded);
}
.sidebar-unexpanded .site-header {
    width: calc(100% - var(--sidebarwidthexpanded));
}

.sidebar-unexpanded .sidebar-link p {
    display: none;
}

.sidebar-unexpanded .sidebar-link {
    justify-content: center;
}

.sidebar-unexpanded .sidebar-links {
    padding: 1.6rem;
}

.sidebar-unexpanded .sidebar .profile-img img {
    width: 8rem;
    height: 8rem;
}

.sidebar-unexpanded .sidebar .logo img {
    width: 9rem;
}

.sidebar-unexpanded .sidebar-links h2 {
    padding-left: 0;
}

.sidebar-unexpanded .sidebar h2.title16 {
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: center;
}

.sidebar-unexpanded .sidebar-link:before {
    left: -2.4rem;
}

.sidebar-unexpanded .sidebar .text-sm {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.expand-btn {
    transition: var(--transition);
    cursor: pointer;
    transform: translateY(0.2rem);
}

.sidebar-unexpanded .expand-btn img {
    filter: var(--image-black);
}

body:not(.sidebar-unexpanded) .expand-btn img:last-child {
    display: block;
}

body:not(.sidebar-unexpanded) .expand-btn img:first-child {
    display: none;
}

body.sidebar-unexpanded .expand-btn img:last-child {
    display: none;
}

body.sidebar-unexpanded .expand-btn img:first-child {
    display: block;
}

/* ============================ Night mode ============================== */
.night-mode {
    background: #0f0f0f !important;
}

.night-mode .post_tag_title {
    color: #f2ededd9 !important;
}

.day-night-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-night-btn img {
    position: absolute;
    opacity: 0;
    transition: 0.2s ease;
}

.day-night-btn img:last-child {
    opacity: 1;
}

.night-mode .day-night-btn img:first-child {
    opacity: 1;
}

.night-mode .day-night-btn img:last-child {
    opacity: 0;
}

.night-mode,
.night-mode p,
.night-mode .id-link,
.night-mode .text-dark-grey {
    color: rgb(242, 237, 237, 0.85) !important;
}

.night-mode .site-header,
.night-mode .section-top,
.night-mode .section-wrapper,
.night-mode .sidebar,
.night-mode .notice,
.night-mode .friend-list,
.night-mode #preloader {
    background: #0f0f0f !important;
}

.night-mode .updates:hover,
.night-mode .event:hover,
.night-mode .grey-background,
.night-mode .upload-content:hover,
.night-mode .post-tag,
.night-mode .custom-progress-bar,
.night-mode .header-search .input-grey,
.night-mode .default-comment:not(.default-comment-post),
.night-mode .default-form,
.top-friends-list:hover,
.night-mode ul.list,
.night-mode .list li {
    background: rgba(255, 255, 255, 0.1) !important;
}

.night-mode h1,
.night-mode h2,
.night-mode h3,
.night-mode h4,
.night-mode h5,
.night-mode h6,
.night-mode .comment-text h2 {
    color: #fff !important;
}

.night-mode .input-grey,
.night-mode .input-grey::placeholder,
.night-mode .nice-select .current {
    color: #f1f1f1cc;
}

.night-mode #preloader span {
    background: var(--white) !important;
}

.night-mode .sidebar-link svg path {
    stroke: #f7efef;
}

.night-mode .image-black {
    filter: var(--imgWhite);
}
.night-mode .White {
    filter: var(--image-black);
}

.night-mode .comment-text p,
.night-mode .comment-text button {
    color: #a6a6a6 !important;
}

.night-mode .scrollbar-wrap .section-wrapper {
    border: none;
}

.night-mode .section-top h2,
.night-mode .menu-link-wrap:not(:last-child),
.night-mode .scrollbar-wrap:before,
.night-mode .post,
.night-mode .section-wrapper,
.night-mode .upload,
.night-mode .upload-content,
.night-mode .upload-area,
.night-mode .notice,
.night-mode .notice-top,
.night-mode .header-search,
.night-mode .scrollbar-wrap-x .section-wrapper:before,
.night-mode .section-top-x,
.night-mode .default-comment-post,
.night-mode .default-comment:not(.default-comment-post),
.night-mode ul.list,
.night-mode .list li,
.night-mode * {
    border-color: rgb(234, 236, 240, 0.25) !important;
}

.night-mode .header-search:before {
    background: rgb(234, 236, 240, 0.25) !important;
}

.night-mode .nice-select:after {
    border-color: #f1f1f1;
}

.night-mode .text-blue {
    color: var(--blue) !important;
}

.night-mode .site-icon img {
    filter: var(--imgWhite) !important;
}

.night-mode a.text-blue:hover,
.night-mode .comment-text .like-button.liked {
    color: var(--green) !important;
}

.night-mode .site-icon:hover img {
    filter: var(--imgGreen);
}

.night-mode .notice-icon,
.night-mode .img-upload-icon {
    background: #3c454f;
}

.night-mode .site-header img:not(.profile-img img) {
    filter: var(--imgWhite) !important;
}

.night-mode .comment-right .like-button:not(.active) svg path {
    stroke: var(--green);
}

.night-mode .sidebar-top .profile-img:before {
    background: rgba(255, 255, 255, 0.1);
}

.night-mode .default-comment-post {
    background: #23292f;
}
.night-mode .delete-default-post p {
    color: var(--green) !important;
}

.night-mode .delete-default-post img {
    filter: var(--imgGreen) !important;
}

.night-mode ul.list,
.night-mode .list li {
    background: #272727 !important;
    color: #f1f1f1;
}

.night-mode .list li:hover {
    background: #7355558c !important;
}

.night-mode .nice-select .list {
    z-index: 999;
}

/* ====== profile page ======= */
.night-mode .scrollbar-wrap-x .section-top {
    background: transparent !important;
}

/* scrollbar */
.night-mode::-webkit-scrollbar-track,
.night-mode ::-webkit-scrollbar-track {
    background-color: #313131;
}

.night-mode::-webkit-scrollbar-thumb,
.night-mode ::-webkit-scrollbar-thumb {
    background-color: #b7c5dc70;
}

.night-mode::-webkit-scrollbar-thumb:hover,
.night-mode ::-webkit-scrollbar-thumb:hover {
    background-color: #b7c5dcb0;
}

/* ============== sign up ============== */
.day-night-btn-two {
    position: fixed;
    right: 1rem;
    top: 2rem;
    background: #423939;
    background: #eaeaea;
    border-radius: 10rem;
    width: 4rem;
    height: 4rem;
}

.night-mode .day-night-btn-two {
    background: #423939;
}

.night-mode .check {
    border: 0.1rem solid rgb(234, 236, 240, 0.35);
}

.night-mode .check img {
    opacity: 0;
}

.night-mode .checkbox.active .check img {
    opacity: 1;
}

.night-mode .password-eye img {
    filter: var(--imgWhite);
}

.night-mode .password-eye:before {
    background: #fff;
}

.logo-night {
    display: none;
}

.night-mode .logo-day {
    display: none;
}

.night-mode .logo-night {
    display: block;
    margin: 0 auto;
}

.night-mode .username:hover {
    color: var(--green) !important;
}

.night-mode .post-bottom-top button:hover p {
    color: var(--blue) !important;
}

.night-mode .default-comment:not(.default-comment-post) {
    background: rgb(234, 236, 240, 0) !important;
}

.night-mode .default-comment-post {
    background: #272727 !important;
}

.bg-black {
    background: #0f0f0f !important
}

.mention {
    background-color: #e6effc !important;
    color: #4182eb;
}

.mention:hover {
    background-color: #4182eb !important;
    color: #fff;
    cursor: pointer;
}

.hashtag {
    background-color: #e6f7e6 !important; /* Light green background */
    color: #2a9d2a; /* Darker green text */
}

.hashtag:hover {
    background-color: #2a9d2a !important; /* Darker green background on hover */
    color: #fff; /* White text on hover */
    cursor: pointer;
}

.post-more-light:hover,
.post-more-light:focus {
    background-color: #f6f6f6 !important;
}

.btn-light-grey {
    background-color: #ededed !important;
    color: #3b3b3b !important;
}

.btn-light-grey:hover {
    background-color: #6e6e6e !important;
    color: #fff !important;
}

.bg-light-blue {
    background-color: #e3f2fd !important;
    border-color: #90caf9 !important;
}

.bg-dark-blue {
    background-color: #2c2c2c !important;
    border-color: #545353 !important;
}

.blur-effect {
    filter: blur(10px);
    pointer-events: none;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.blur-none {
    filter: none;
    pointer-events: auto;
    opacity: 1;
}

.bg-black::placeholder {
    color: #f1f1f1 !important;
}

.bg-dark::placeholder {
    color: #f1f1f1 !important;
}

.chat-header {
    height: 100px;
}

.chat-footer {
    height: 100px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 200px);
    padding: 1rem;
    background-color: #f6f8fa; /* Light grey background */
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1.5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23f6f8fa'/><path d='M10 0h20v20h-20zM30 20h20v20h-20zM-10 20h20v20h-20zM10 40h20v20h-20z' stroke-width='0.8' stroke='%23a6c8ff' stroke-opacity='0.3' fill='none'/></pattern></defs><rect width='100%' height='100%' fill='url(%23a)'/></svg>");
}

.chat-messages::-webkit-scrollbar {
    width: 6px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.user-item:hover {
    background-color: #e3f2fd !important; /* Subtle blue background */
    border-color: #90caf9 !important;
}

.chat-item:hover {
    background-color: #f8f8f8 !important; /* Subtle blue background */
    border-color: #d0ebff !important;
}

.bg-dark-hover:hover {
    background-color: #1c2431 !important;
}

.btn-link:hover {
    background-color: #007bff;
    color: #fff;
}

.ql-editor {
    max-height: 75px;
    overflow-y: auto;
}

.profile-picture {
    width: 25px;
    height: 25px;
    background-color: #3498db;
    color: white;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-transform: uppercase;
}

.chat-more-button:hover,
.chat-more-button:focus {
    background-color: #e5e5e5 !important;
}

.chat-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    object-fit: cover;
    position: relative;
}

.message-indent {
    margin-left: 4rem;
}

.icon-circle {
    width: 45px;
    height: 45px;
}

.icon-small-circle {
    width: 40px;
    height: 40px;
}

.chat-sidebar-title {
    color: #444;
}

#chat-sidebar-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.chat-message {
    background: rgb(233 236 239);
}

.chat-section {

}

.chat-container .dropdown {
    display: none !important;
}

.chat-container:hover .dropdown {
    display: flex !important;
}

.chat-container .text-muted {
    display: none !important;
}

.chat-container:hover .text-muted {
    display: flex !important;
}

.custom-tooltip {
    --bs-tooltip-font-size: 1rem;
}

.modal-header {
    background: var(--blue);
}

.ql-editor.ql-blank::before {
    font-size: 0.8em;
}

/* Start Dark Mode */
.night-mode .chat-messages {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.night-mode .chat-header {
    background: var(--dark-black-mode-colour);
}

.night-mode .icon-circle {
    border: none;
}

.night-mode .icon-circle:hover,
.night-mode .icon-circle:active,
.night-mode .icon-circle:focus {
    background: #3b3b3b;
}

.night-mode .dropdown-menu {
    background: var(--dark-black-mode-colour);
}

.night-mode .dropdown-menu .dropdown-item {
    color: #f2ededd9;
}

.night-mode .dropdown-menu .dropdown-item:hover,
.night-mode .dropdown-menu .dropdown-item:focus  {
    color: var(--dark-black-mode-colour);
}

.night-mode #chat-sidebar {
    background: var(--dark-black-mode-colour);
}

.night-mode #chat-user-background {
    background: var(--dark-black-mode-colour);
}

.night-mode #chat-search-input,
.night-mode #chat-search-input::placeholder {
    color: #f2ededd9;
    background: var(--dark-mode-colour);
}

.night-mode .chat-message-list-item {
    color: #f2ededd9 !important;
    background-color: var(--dark-mode-colour);
}

.night-mode .chat-message-list-item:hover,
.night-mode .chat-message-list-item:focus {
    background-color: #1b1e21;
}

.night-mode #chat-sidebar-profile {
    color: #f2ededd9;
}

.night-mode .chat-message {
    background: var(--dark-black-mode-colour);
}

.night-mode .modal-header {
    background: var(--dark-black-mode-colour);
}

.night-mode .form-control::placeholder {
    background: var(--dark-black-mode-colour);
    color: #f2ededd9;
}

.night-mode .form-control {
    background: var(--dark-black-mode-colour);
    color: #f2ededd9;
}

.night-mode .modal-body {
    background: var(--dark-mode-colour);
}

.night-mode .modal-footer {
    background: var(--dark-black-mode-colour);
}

.night-mode .modal-footer {
    background: var(--dark-black-mode-colour);
}

.night-mode .list-group-item {
    background: var(--dark-black-mode-colour);
}

.night-mode .list-group-item:hover {
    background: var(--dark-mode-colour);
}

.night-mode small {
    color: #f2ededd9;
}

.night-mode .chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 200px);
    padding: 1rem;
    background-color: #101418; /* Dark, but not pure black for better readability */
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1.5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23101418'/><path d='M10 0h20v20h-20zM30 20h20v20h-20zM-10 20h20v20h-20zM10 40h20v20h-20z' stroke-width='0.8' stroke='%235f8de7' stroke-opacity='0.2' fill='none'/></pattern></defs><rect width='100%' height='100%' fill='url(%23a)'/></svg>");
}

.night-mode .page-link {
    background: var(--dark-black-mode-colour);
}

.night-mode .ql-editor.ql-blank::before {
    color: #f2ededd9;
}

/* End Dark Mode */

/*!* Responsive adjustments *!*/
/*@media (max-width: 1024px) {*/
/*    .chat-header,*/
/*    .chat-footer {*/
/*        height: 80px;*/
/*    }*/

/*    .chat-messages {*/
/*        max-height: calc(100vh - 160px);*/
/*        padding: 0.75rem;*/
/*    }*/

/*    .chat-messages::-webkit-scrollbar {*/
/*        width: 5px;*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .chat-header,*/
/*    .chat-footer {*/
/*        height: 60px;*/
/*    }*/

/*    .chat-messages {*/
/*        max-height: calc(100vh - 120px);*/
/*        padding: 0.5rem;*/
/*    }*/

/*    .chat-messages::-webkit-scrollbar {*/
/*        width: 4px;*/
/*    }*/
/*}*/

/*@media (max-width: 480px) {*/
/*    .chat-header,*/
/*    .chat-footer {*/
/*        height: 50px;*/
/*    }*/

/*    .chat-messages {*/
/*        max-height: calc(100vh - 100px);*/
/*        padding: 0.5rem;*/
/*    }*/

/*    .chat-messages::-webkit-scrollbar {*/
/*        width: 3px;*/
/*    }*/

/*    .chat-messages::-webkit-scrollbar-thumb {*/
/*        border-radius: 2px;*/
/*    }*/
/*}*/
