/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 992px) {
    html {
        font-size: 0.6vw;
    }
}

@media (max-width: 991.99px) {
    html {
        font-size: 60%;
    }

    :root {
        --sidebarwidth: 28rem;
        --friendlistwidth: 8rem;
        --headerheight: 8rem;
        --sidebarwidthexpanded: 14rem;
    }

    /* basic */
    .site-header {
        width: 100% !important;
        padding: 1.5rem;
    }

    .main-content > .container-fluid {
        padding: 1.6rem;
    }
    .sidebar {
        left: -100%;
        transition: var(--transition);
        background: #fff;
        z-index: 9999;
    }

    .menu_active .sidebar {
        left: 0;
    }

    .main-content {
        padding-left: 0 !important;
        padding-right: 0;
    }

    .friend-list {
        position: relative;
        display: flex;
        width: 100%;
        gap: 1rem;
        overflow: auto;
        height: auto;
        padding: 2rem;
    }

    .friend-list .profile-img {
        margin: 0;
    }

    .posts_list .scrollbar,
    .event-area .scrollbar,
    .updates-area .scrollbar {
        height: auto;
    }

    .post-profile-info .title18 {
        font-size: 1.4rem;
        line-height: 1.2;
    }

    .post-profile-info p {
        font-size: 1.3rem;
    }

    .post-profile-info > div {
        padding-bottom: 0.5rem;
    }

    .post-profile-info > div > * {
        line-height: 1.2;
    }

    .header-search {
        margin: 0;
        position: absolute !important;
        right: 0;
        opacity: 0;
        transform: scale(0.8) translateY(1rem);
        transition: 0.25s;
        padding: 1rem 1.6rem;
        background: #fff;
        border: 0.1rem solid #f1f1f1;
        border-radius: 0.5rem;
    }

    .mobile_search_bar.active .header-search {
        opacity: 1;
        transform: scale(1) translateY(1rem);
    }

    .header-search .input-grey {
        background: #fff !important;
        padding-left: 3rem;
        padding-top: 0;
        padding-bottom: 0;
        height: 3rem;
    }

    .search_icon img:nth-child(2) {
        display: none;
    }

    .mobile_search_bar.active .search_icon img:nth-child(2) {
        display: block;
    }

    .mobile_search_bar.active .search_icon img:nth-child(1) {
        display: none;
    }

    .header_profile {
        padding-left: 1rem;
    }

    /* expanded */
    .expand-btn {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background: var(--blue);
        padding: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        pointer-events: none;
        opacity: 0.75;
    }

    .expand-btn img {
        filter: var(--imgWhite);
    }

    .expand-btn {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background: var(--blue);
        padding: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        pointer-events: none;
        opacity: 0;
        z-index: 9999999;
        transition: var(--transition);
    }

    .expand-btn img {
        filter: var(--imgWhite);
    }

    .sidebar-unexpanded.menu_active .expand-btn {
        left: var(--sidebarwidthexpanded);
        opacity: 1;
        pointer-events: all;
    }

    .menu_active:not(.sidebar-unexpanded) .expand-btn {
        left: var(--sidebarwidth);
        opacity: 1;
        pointer-events: all;
    }

    .sidebar-unexpanded .expand-btn img {
        filter: var(--imgWhite);
    }

    .sidebar-unexpanded .expand-btn:hover img {
        filter: var(--imgWhite);
    }

    /* ========= mobile menu ======== */
    .hamburger .close_icon {
        display: none;
    }

    .hamburger.active .hamburger_icon {
        display: none;
    }

    .hamburger.active .close_icon {
        display: block;
    }

    .overlay {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background: #000;
        opacity: 0.35;
        filter: blur(0.1rem);
        z-index: 999;
        opacity: 0;
        transition: 0.15s ease;
        pointer-events: none;
    }

    .menu_active .overlay {
        opacity: 0.35;
        pointer-events: all;
    }

    /* ================== contact_area ================== */
    .contact_top {
        padding: 1.5rem;
    }

    .contact_wrap {
        margin: 0 auto;
        width: 100%;
        padding: 0 1rem;
    }

    .contact_form {
        width: 100%;
    }

    .contact_top h2 {
        padding: 3.2rem 0 0.8rem;
        line-height: 3rem;
        font-size: 3.2rem;
    }

    .contact_top p {
        font-size: 1.8rem;
    }

    .profile-top {
        flex-direction: column;
        gap: 1.6rem;
    }

    .wall_commnent_area .scrollbar {
        height: auto;
    }

    .scrollbar-wrap:before {
        width: calc(100% - 3.2rem);
        height: calc(100% - 3.2rem);
        left: 1.6rem;
    }
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767.98px) {
    .wall_comment-texts p br {
        display: none;
    }

    .wall_comment-texts p {
        font-size: 1.4rem;
    }

    .wall_comment-texts > div:not(.wall_comment-buttons) {
        flex-direction: column;
        align-items: self-start !important;
        gap: 0.5rem;
    }

    .wall_comment_btn {
        padding-left: 0.5rem;
        margin-left: 0.5rem;
    }

    .wall_comment-texts p {
        font-size: 1.3rem;
    }

    .wall_post_wrap .profile-img_48 img {
        width: 4.4rem;
        height: 4.4rem;
    }

    .wall_comment_btn p {
        font-size: 1.2rem;
    }

    .custom-form-group textarea {
        min-height: 9.2rem !important;
    }

    .title24 {
        font-size: 2rem;
    }

    .custom-progress-bar span {
        max-width: 100%;
        width: 65%;
    }
    .custom-progress-bar {
        width: 22rem;
    }

    .audio img {
        width: 90%;
    }

    .uploaded-images {
        gap: 1rem;
        padding-bottom: 0.5rem;
    }

    ::-webkit-scrollbar {
        width: 0.65rem; /* Set the width of the scrollbar */
        height: 0.65rem; /* Set the width of the scrollbar */
    }
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575.98px) {
    :root {
        --sidebarwidth: 28rem;
        --friendlistwidth: 8rem;
        --headerheight: 8rem;
    }
    html {
        font-size: 2.3vw;
    }
    .header-search {
        position: fixed !important;
        width: 100%;
        transform: scale(0.8) translateY(0);
        right: 0;
        top: var(--headerheight);
        border: none;
        border-radius: 0;
    }
    .mobile_search_bar.active .header-search {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
